{% extends "./vod/vod-base.html" %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-3">
        <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="accountPanel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccount"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseAccount" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="..." id="addUser">Add new user</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="...">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="...">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="...">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="..." class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMetadata"><span class="glyphicon glyphicon-file">
                            </span>Metadata</a>
                        </h4>
                    </div>
                    <div id="collapseMetadata" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="admin?context=institution">Institution</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="admin?context=alias_identifier">Alias Identifier</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="admin?context=transplant_type">Transplant Type</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="admin?context=data_type">Data Type</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <button id="add_cart">Show selected</button>
            <ul id="output"></ul>

        </div>
        <div class="col-md-9">

            <div class="panel panel-default">

                    <div class="panel-heading">{{ context }}
                    </div>
                    <div class="panel-body">

                    </div>
            </div>
        </div>
    </div>
</div>

<script>

$('#collapseAccount').on('shown.bs.collapse', function (e) {
       //call a service here
    e.stopPropagation();
    console.log('look the account panel has been shown');
    window.location="/vod/admin?context=user";

});


</script>
{% endblock %}