{% extends "./vod/vod-base.html" %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-heading">Activities</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-user"></span><a href="admin?context=user">User</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-usd"></span><a href="admin?context=institution">Institution</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-user"></span><a href="admin?context=alias_identifier">Alias Identifier</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-tasks"></span><a href="admin?context=transplant_type">Transplant Type</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-tasks"></span><a href="admin?context=data_type">Data Type</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

            <button id="add_cart">Show selected</button>
            <ul id="output"></ul>

        </div>
        <div class="col-md-9">

            <div class="panel panel-default">

                <div class="panel-heading">{{ context }}
                    {% if context == 'user' %}
                        <div class="pull-right">
                            <a id="btnAdd" class="btn btn-info btn-xs" aria-expanded="true" aria-controls="AddUser">
                                <span class="glyphicon glyphicon-user" > </span>
                                New User
                            </a>
                        </div>

                    {% endif %}
                </div>
                <div class="panel-body">

                    <table id="example" class="display" cellspacing="0" width="100%">

                        {% if context == 'user' %}
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Staff</th>
                                <th>Active</th>
                                <th>Added on</th>
                                <th>Last login</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.username }}</td>
                                    <td>{{ i.is_staff }}</td>
                                    <td>{{ i.is_active }}</td>
                                    <td>{{ i.date_joined }}</td>
                                    <td>{{ i.last_login }}</td>
                                    <td>
                                        <a id="btnEdit" class="btn btn-success btn-xs" aria-expanded="true" aria-controls="EditUser" > <!-- data-toggle="modal" data-target="#myModal"> -->
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a id="btnDelete" class="btn btn-danger btn-xs" aria-expanded="true" aria-controls="DelUser">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                        {% endif %}

                        {% if context == 'institution'  or context == 'alias_identifier' or context == 'transplant_type' or context == 'data_type' %}
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                                <tr>
                                    <td>{{ i.code }}</td>
                                    <td>{{ i.description }}</td>
                                    <td> put active flag here</td>
                                    <td>
                                        <a id="btnEdit" class="btn btn-success btn-xs" aria-expanded="true" aria-controls="EditMeta">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a id="btnRetire" class="btn btn-danger btn-xs" aria-expanded="true" aria-controls="RetireMeta">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal2" class="modal fade" tabindex="-1" role="dialog">

     <form method="post" action="/vod/add_data">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create User Account</h4>
          </div>
          <div class="modal-body">

            <p>Create a user account</p>
                {% csrf_token %}

                {{ create_form }}

           </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->

<script>

var table;
$(document).ready(function() {

    table = $('#example').DataTable({
        "bFilter": false  // switch of search functionality
    });
} );

$('body').on('click', '#btnEdit', function(){
    //to get currently row containing the currently clicked button
    //row  = $(this).parents('tr')[0];
    var data = table.row($(this).parents('tr')[0]).data();

    $("#myModal").val(data[0]).modal('show');

    //for row data
    //alert(data[4]);
});

$('body').on('click','#btnAdd', function(){


    $("#myModal2").modal('show');
});

</script>
{% endblock %}