

    {% if user.is_superuser == True %}
    <div class="panel panel-default">
        <div class="panel-heading">Manage Data</div>
        <div class="panel-body">
            <!-- sidebar content will be displayed here -->
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-user"></span><a href="{% url 'user-list' %}">User</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-buildings"></span><a href="{% url 'institution-list' %}">Institution</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span><a href="{% url 'alias-id-list' %}">Alias Identifier</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span><a href="{% url 'datatype-list' %}">Data Type</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span><a href="{% url 'transplant-list' %}">Transplant Type</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}

    {% if user.is_staff == True %}
    <div class="panel panel-default">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <!-- sidebar content will be displayed here -->
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-user"></span><a href="{% url 'upload-list' %}">Upload Data Type</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}

