
vod_systems/\.idea/

\.DS_Store

vod_systems/bower_components/bootstrap/

vod_systems/bower_components/jquery/

*.pyc

vod_systems/db\.sqlite3

vod_systems/bower_components/bootstrap-table/

vod_systems/bower_components/datatables/

vod_systems/vod_systems/\.idea/

vod_systems/bower_components/parsleyjs/bower_components/bootstrap/less/

vod_systems/bower_components/parsleyjs/bower_components/jquery/src/core/

vod_systems/bower_components/parsleyjs/bower_components/jquery/src/

vod_systems/bower_components/parsleyjs/

vod_systems/data_uploaded/

vod_systems/vod/migrations/
