{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}vod.systems base-includes template{% endblock %}</title>
    <meta charset="utf-8">

    <!-- JQuery -->
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/media/js/jquery.js" %}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}">
    <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- custom Bootstrap callout -->
    <link rel="stylesheet" href="{% static "bootstrap-callout.css" %}">
    <link rel="stylesheet" href="{% static "parsley.css" %}">

    <!-- ParsleyJS -->
    <script type="text/javascript" src="{% static "parsleyjs/dist/parsley.js" %}"></script>

    <!-- DataTables -->
    <script type="text/javascript" src="{% static "datatables/media/js/jquery.dataTables.js" %}"></script>
    <link rel="stylesheet" href="{% static "datatables/media/css/jquery.dataTables.min.css" %}">



    <!-- Modify styling to get navbar and container inline with one another -->
    <style type="text/css">
        .container {
            padding-left: 0px;
        }
    </style>

</head>
<body>
    <div id="root" class="container">
        {% block header %} {% endblock %}
        {% block content %} {% endblock %}

        {% block generic-scripts %} {% endblock %}      <!-- generic Javascript that applies to all forms -->
        {% block specialised-scripts %} {% endblock %}  <!-- specialised Javascript that applies to a specific form -->
        {% block footer %} {% endblock %}
    </div>
</body>
</html>