{% extends './common/modal-template.html' %}

{% block specific-scripts %}
<script>

    window.Parsley.addValidator('userexist',
    function (value, requirement) {
        //ParsleyJS return false if validation fails
        //online example test code
        //alert('userexist custom validator. value: ' + value + '; requirement: ' + requirement);
        //return false;

        //my test code
        var valid = false;
        $.ajax({
            url: '/vod/ajax/validate_username/',
            data: {
              'username': value
            },
            dataType: 'json',
            async: false, // sets whether this task is carried out async or not
            success: function (data) {
                valid = !data.is_taken;
            }
        });
        return valid;
    }, 32)
    .addMessage('en', 'userexist', 'This username is already being used. Select another...');

</script>
{% endblock %}