{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>VOD SYSTEMS</h1>
        <p>This is the main page for <b>VOD System</b>. From here you can jump off to any of the applications we have developed</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Who are we?</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
              of type and scrambled it to make a type specimen book. It has survived not only five centuries,
              but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
              in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
              with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-sm-4">
          <h3>Developed applications</h3>

            <table class="table">

                <tr class="info"> <a href="/vod">VOD Severity</a></tr>
                    <p>A application that provides a means of scoring suspected VOD diagnosis in patients. </p>
                </tr>

            </table>
        </div>
        <div class="col-sm-4">
          <h3>Contact us</h3>
          <p>Contact us as: info@vod.systems </p>
        </div>
      </div>
    </div>
{% endblock %}

